.active {
  color: #f5d38e;
  border-bottom: solid #f5d38e;
  border-radius: 0.12rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #093931;
  background-image: url(/proyecto_joyeria/assets/olas_blancas2.png);
  background-size: 120rem 20rem;
  background-repeat: no-repeat;
  padding-bottom: 8rem;
}

.main-text {
  color: #f5d38e;
  font-size: 4.5rem;
}

.main-text p{
  margin-bottom: 1.5rem;
}

.main input {
  border-radius: 2rem;
  background-color: #fff;
  border: 0.06rem solid #f8f9fa;
  width: 47rem;
  height: 2.5rem;
}

.main label {
  color: #323842;
  font-size: 1.12rem;
  font-weight: 900;
  line-height: 1.75rem;
  margin-top: -2.5rem;
  margin-left: 3.5rem;
}

.main svg{
  margin-left: 1.5rem;
  position: absolute;
  margin-top: -2.3rem;
}

.navegation-product a{
  color: #0D554A;
  padding: 0rem 5rem;
  border-right: solid #9AEFE2;;
}

.active-product{
  border-radius: 2rem;
  background: #0D554A;
  padding: 0.5rem 4rem; 
  color: #fff;
}

select{
  font-size: 1rem;
  color: #171A1F;
  background-color: #fff;
  border: none;
  border-bottom:solid #c3c5c9;
  padding: 1rem;
  margin-left: 30rem;
}

.nav-product{
  display: flex;
  margin-left: 3rem;
}

.galery-product div{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 5rem;
  margin-left: 5rem;
  margin-top: 2rem;
}

.product {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 0.1rem 0 rgba(23, 26, 31, 0.07),
    0 0 0.1rem 0 rgba(23, 26, 31, 0.12);
  margin-top: 0;
}

.product-image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.product figcaption {
  font-weight: 900;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.product p {
  margin-left: 1rem;
  margin-top: 0.3rem;
  font-size: 1rem;
}

.galery-product2{
  display: flex;
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 5rem;
  gap: 5rem;
}

.galery-little{
display: flex;
flex-wrap: wrap;
}

.pagination{
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.pagination a{
  text-decoration: none;
  padding: 1.5rem;
  color: #0D554A;
  font-size: 1.2rem;
}

.active-pagination {
  border-radius: 2rem;
  border: 0.1rem solid #0D554A;
}

.advantages {
  display: flex;
  justify-content: space-around;
  padding: 4rem 4rem;
}

.icono-text {
  color: #9095a0;
  text-align: center;
  width: 17.2rem;
}

.advantages figure {
  align-items: center;
  padding-left: 4rem;
}

.icono-title {
  color: #171a1f;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}