.active {
  color: #f5d38e;
  border-bottom: solid #f5d38e;
  border-radius: 0.12rem;
}

.navegation-main {
  margin-bottom: 2rem;
  margin-top: 6rem;
}

.navegation-main a {
  color: #0d554a;
}

.main {
  display: flex;
  justify-content: space-around;
  height: 50rem;
}

.galery {
  display: flex;
}

.galery-little {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-right: 4rem;
}

.icon-heart {
  display: flex;
  margin-top: -39rem;
  margin-left: 27rem;
}

.information {
  display: flex;
  flex-direction: column;
  width: 50rem;
  margin-left: -7rem;
}

.title-information {
  color: #0d554a;
  font-size: 4rem;
  font-weight: 600;
  margin-top: 0rem;
}

.code {
  margin-top: -3rem;
  color: #323842;
}

.price {
  color: #b37d10;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0rem;
}

.color {
  color: #424955;
  font-weight: 900;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.option-color {
  display: flex;
  gap: 1.5rem;
}

.ask {
  display: flex;
  justify-content: space-between;
}

.ask p {
  color: #424955;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
}

.ask span {
  margin: 1rem;
}

.number-size a {
  text-decoration: none;
  padding: 1rem;
  color: #565e6c;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  border: 0.1rem solid #565e6c;
  background: #fff;
  margin: 0.2rem;
}

.active-size {
  border: 4rem solid #8f640c;
}

.quantity {
  color: #424955;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-top: 2rem;
}

.quantity span {
  color: #565e6c;
  border-radius: 4px;
  background: #f3f4f6;
  padding: 1rem;
  margin: 0.5rem;
}

.button {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.button-add {
  color: #0d554a;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
  border-radius: 2rem;
  border: 0.1rem solid #0d554a;
  background: #fff;
  padding: 0.5rem 5rem;
  text-align: center;
}

.button-buy {
  border-radius: 2rem;
  background: #0d554a;
  border: 0.1rem solid #0d554a;
  color: #fff;
  padding: 0.6rem 6rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.dropdown {
  display: flex;
  margin-left: 4rem;
}

select {
  font-size: 1rem;
  color: #171a1f;
  background-color: #fff;
  border: none;
  border-bottom: solid #c3c5c9;
  padding: 0rem 6rem;
  width: 16rem;
  height: 2.75rem;
  color: #171a1f;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-right: 4rem;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.video p {
  margin-left: 15rem;
  margin-right: 15rem;
}

.video-title {
  color: #0d554a;
  font-size: 4rem;
  font-weight: 600;
  line-height: 3.5rem;
  margin-bottom: 0rem;
}

.paragraph{
  color: #323842;
font-size: 1.2rem;
font-weight: 400;
line-height: 2rem;
margin-bottom: 4rem;
}

.video-play{
  display: flex;
  margin-bottom: 10rem;
}

.play{
  margin-left: -33em;
  margin-top: 16rem;
}

.advantages {
  display: flex;
  justify-content: space-around;
  padding: 4rem 4rem;
}

.icono-text {
  color: #9095a0;
  text-align: center;
  width: 17.2rem;
}

.advantages figure {
  align-items: center;
  padding-left: 4rem;
}

.icono-title {
  color: #171a1f;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}

.images{
  display: flex;
flex-direction: column;
margin-left: 15rem;
margin-top: 5rem;
margin-bottom: 5rem;
}

.images p{
  color: #0D554A;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.products{
  display: flex;
}

.product {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 0.1rem 0 rgba(23, 26, 31, 0.07),
    0 0 0.1rem 0 rgba(23, 26, 31, 0.12);
  margin-top: 0;
}

.product-image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.products figcaption {
  font-weight: 900;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.products p {
  margin-left: 1rem;
  margin-top: 0.3rem;
  font-size: 1rem;
}

.our-customers {
  display: flex;
  justify-content: space-around;
  background: #093931;
  padding: 2rem;
}

.customers-block {
  padding: 8rem;
}

.customers-block p {
  color: #fff;
}

.customers-title {
  font-size: 4rem;
  font-weight: 600;
}

.customers-text p {
  width: 350px;
}

.customers-image img {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.customers-block-2 {
  display: flex;
  color: #fff;
  padding-right: 10rem;
  padding-top: 4rem;
  margin-right: 8rem;
}

.customers-text-image {
  background: rgba(23, 26, 31, 0.3);
  width: 31.25rem;
  height: 20.6rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem; 
  padding-top: 3rem;
}

#name {
  font-size: 1.2rem;
  font-weight: 1000;
  margin-bottom: 0.2rem;
}

#country {
  margin-top: 0rem;
}

.play-customers {
  display: flex;
  gap: 1rem;
  margin-top: 26rem;
  padding-right: 10rem;
  margin-left: -30rem;
}
