body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #093931;
  padding: 0.5rem 6.9rem;
}

.title {
  font-family: "Cormorant Garamond", serif;
}

.text {
  font-family: "Manrope", sans-serif;
}

.site-title {
  color: #f5d38e;
  font-size: 1.9rem;
}

a {
  text-decoration: none;
}

nav a {
  color: #ffff;
  padding: 0.7rem;
}

.header__mobilenav {
  display: none;
}

nav a:hover {
  color: #f5d38e;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #093931;
  padding: 0.5rem 6.9rem;
}

.navegation-footer {
  display: flex;
  flex-direction: column;
}

.subscribe nav {
  display: flex;
  justify-content: space-between;
}

.suscription {
  display: flex;
  flex-direction: column;
  margin-right: 8rem;
}

#suscription-title {
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#suscription-text {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

input {
  display: flex;
  flex-direction: column;
  border-radius: 1.1rem 0 0 1.1rem;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  padding: 0.5rem 8.2rem 0.3rem 0rem;
}

.input svg {
  position: absolute;
  margin-left: 0.9rem;
  margin-top: -1.5rem;
}

label {
  color: #fff;
  margin-left: 2.2rem;
  margin-top: -1.8rem;
  position: absolute;
}

.suscription button {
  position: absolute;
  border-radius: 0 1.1rem 1.1rem 0;
  background: #f2c66d;
  margin-left: 19rem;
  margin-top: -1.9rem;
  padding: 0.24rem 1rem 0.24rem 1rem;
  color: #6b4a09;
}

footer {
  display: flex;
  justify-content: space-between;
  background: #093931;
  align-items: center;
  padding: 0.5rem 6.9rem;
}

footer span {
  color: #fff;
  margin-left: 8rem;
  font-size: 1rem;
  font-weight: 400;
}

.iconos-footer {
  padding-right: 10rem;
}

footer a {
  padding: 0.5rem;
}

@media only screen and (max-width: 540px) {
  header nav a {
    display: none;
  }

  .header__mobilenav {
    display: block;
  }

  .header__mobilenav img {
    width: 2.5rem;
  }

  .suscription {
    margin-left: -29rem;
    margin-top: 20rem;
  }

  footer {
    flex-direction: column;
  }

  .iconos-footer {
    display: flex;
  }
}