body{
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #093931;
  padding: 8px 110px;
}

.title{
  font-family: 'Cormorant Garamond', serif;
}

.text{
  font-family: 'Manrope', sans-serif;
}

.site-title{
  color: #F5D38E;
  font-size: 30px; 
}

a{
  text-decoration: none;
}

nav a{
  color: #FFFF;
  padding: 10.5px;
}

.active{
  color: #F5D38E;
  border-bottom: solid #F5D38E;
  border-radius: 2px;
}

nav a:hover{
  color: #F5D38E;
}

.main{
  display: flex;
  justify-content: space-around;
  background: #093931;
  background-image: url(./assets/olas_blancas.png);
}

#main-text p{
  font-family: 'Cormorant Garamond', serif;
  color: #F5D38E;
  font-size: 72px; 
  width: fit-content;


}

#main-text{
  width: 50%;
}