body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #093931;
  padding: 0.5rem 6.9rem;
}

.title {
  font-family: "Cormorant Garamond", serif;
}

.text {
  font-family: "Manrope", sans-serif;
}

.site-title {
  color: #f5d38e;
  font-size: 1.9rem;
}

a {
  text-decoration: none;
}

nav a {
  color: #ffff;
  padding: 0.7rem;
}

.active {
  color: #f5d38e;
  border-bottom: solid #f5d38e;
  border-radius: 0.12rem;
}

nav a:hover {
  color: #f5d38e;
}

.main {
  display: flex;
  justify-content: space-around;
  background: #093931;
  background-image: url(./assets/olas_blancas.png);
  padding: 2rem;
}

.main-block {
  width: 50vw;
}

.main-block p {
  color: #f5d38e;
  font-size: 4.5rem;
  margin-bottom: 3rem;
}

.main-text {
  padding: 0rem 9rem;
}

.button {
  border-radius: 2rem;
  border: 0.09rem solid;
  padding: 1rem 4rem;
}

.main-block button {
  background: #093931;
  border-color: #fff;
  color: #ffff;
  font-size: 1.2rem;
}

.main-image {
  display: flex;
  align-items: center;
}

#main-video {
  margin-left: -7rem;
}

#main-play {
  margin-left: -10rem;
}

.advantages {
  display: flex;
  justify-content: space-around;
  padding: 4rem 4rem;
}

.icono-text {
  color: #9095a0;
  text-align: center;
  width: 17.2rem;
}

.advantages figure {
  align-items: center;
  padding-left: 4rem;
}

.icono-title {
  color: #171a1f;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}

.product-selection {
  display: flex;
  justify-content: space-around;
  padding: 4rem 4rem;
}

.products {
  display: flex;
}

.style-span {
  color: #0d554a;
  font-size: 2.5rem;
  font-weight: 600;
}

.shop-selection {
  width: 13.5vw;
}

.shop-text {
  color: #9095a0;
}

.product-selection button {
  background: #fff;
  border-color: #0d554a;
  color: #0d554a;
  font-size: 0.85rem;
}

.product {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 0.1rem 0 rgba(23, 26, 31, 0.07),
    0 0 0.1rem 0 rgba(23, 26, 31, 0.12);
  margin-top: 0;
}

.product-image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.products figcaption {
  font-weight: 900;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.products p {
  margin-left: 1rem;
  margin-top: 0.3rem;
  font-size: 1rem;
}

.collections {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 4rem;
}

.images {
  display: flex;
}

.collections-images-1 {
  padding-top: 3rem;
}

.images figcaption {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-top: -4rem;
}

.collection-product {
  margin-bottom: 4rem;
}

.collection-product img {
  border-radius: 0.5rem;
}

#collections-title {
  margin: 2rem 0;
}

.collections button {
  background: #fff;
  border-color: #0d554a;
  color: #0d554a;
  font-size: 1rem;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story span {
  color: #0d554a;
  font-size: 2.5rem;
  font-weight: 1000;
  padding-bottom: 2rem;
}

#video-button {
  margin-top: -12rem;
  margin-bottom: 10rem;
}

.our-customers {
  display: flex;
  background: #093931;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

#people {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-left: 10rem;
}

#people span {
  font-size: 3.5rem;
  font-weight: 1000;
}

#people p {
  font-size: 1rem;
  padding-right: 20rem;
  margin-right: 2rem;
}

#experiences {
  display: flex;
  border-radius: 0.5rem;
  background: rgba(23, 26, 31, 0.3);
  margin: 5rem;
}

#face {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

#text-experiences {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin: 2rem;
  width: 25rem;
}

#name {
  font-weight: 900;
  font-size: 1.25rem;
  color: #fff;
  margin-left: 2rem;
  margin-bottom: 0;
}

#country {
  font-size: 1.25rem;
  color: #fff;
  margin-left: 2rem;
  margin-top: 0rem;
}

#icono-play-1 {
  margin-left: -16rem;
  margin-top: 24rem;
}

#icono-play-2 {
  margin-left: -11rem;
  margin-top: 24rem;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #093931;
  padding: 0.5rem 6.9rem;
}

.navegation-footer {
  display: flex;
  flex-direction: column;
}

.subscribe nav {
  display: flex;
  justify-content: space-between;
}

.suscription{
  display: flex;
  flex-direction: column;
  margin-right: 8rem;
}

#suscription-title {
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#suscription-text {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

input {
  display: flex;
  flex-direction: column;
  border-radius: 1.1rem 0 0 1.1rem;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  padding: 0.5rem 8.2rem 0.3rem 0rem;
}

.input svg{
  position: absolute;
  margin-left: 0.9rem;
  margin-top: -1.5rem;
}

label{
  color: #fff;
  margin-left: 2.2rem;
  margin-top: -1.8rem;
  position: absolute;
}

.suscription button {
  position: absolute;
  border-radius: 0 1.1rem 1.1rem 0;
  background: #f2c66d;
  margin-left: 19rem;
  margin-top: -1.9rem;
  padding: 0.24rem 1rem 0.24rem 1rem; 
  color: #6B4A09;
}

footer{
  display: flex;
  justify-content: space-between;
  background: #093931;
  align-items: center;
  padding: 0.5rem 6.9rem;
}

footer span{
  color: #fff;
  margin-left: 8rem;
  font-size: 1rem;
  font-weight: 400;
}

.iconos-footer{
  padding-right: 10rem;
}

footer a{
  padding: 0.5rem;
}
